@{
    var userId = Context.Session.GetInt32("UserId");
    var UserImage = Context.Session.GetString("UserImage");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - theTripChalleng</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
        asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/theTripChalleng.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"
        asp-append-version="true" />
</head>

<body>
    <header dir="rtl">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">

                <div class="d-inline-flex w-100 justify-content-between">
                    <ul class="navbar-nav p-0 flex-row justify-content-around justify-content-sm-start flex-grow-1">
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="navbar-brand" asp-controller="Account" asp-action="Details"></a>
                        </li>

                        @* make it only appear after login *@
                        @if (userId != null)
                        {
                            <li class="nav-item d-inline-block d-md-none">
                                <a class="nav-link" asp-controller="Account" asp-action="Details">
                                    <i class="bi bi-person"></i> <span class="d-none d-sm-inline"></span>
                                </a>
                            </li>
                            <li class="nav-item d-inline-block d-md-none">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">
                                    <i class="bi bi-globe-asia-australia-fill"></i> <span class="d-none d-sm-inline">قائمة
                                        المتصدرين</span>
                                </a>
                            </li>
                            <li class="nav-item d-inline-block d-md-none">
                                <a class="nav-link" asp-controller="Home" asp-action="Rewards">
                                    <i class="bi bi-gift"></i> <span class="d-none d-sm-inline">المكافآت</span>
                                </a>
                            </li>
                            <li class="nav-item d-inline-block d-md-none">
                                <a class="nav-link" asp-controller="Home" asp-action="LeaderboardByCategory">
                                    <i class="bi bi-trophy"></i> <span class="d-none d-sm-inline">متصدري اللجان</span>
                                </a>
                            </li>
                            <li class="ms-sm-auto nav-item d-inline-block d-md-none">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                    <i class="bi bi-box-arrow-right text-danger"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="d-flex m-0 min-vh-100">
        <div class="container col-md-9 col-lg-10 mt-3">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @if (userId != null)
        {
            <div class="d-none d-md-block col-md-3 col-lg-2 bg-white sidebar position-relative" dir="rtl"
                style="z-index: 1;">
                <nav class="position-fixed navbar navbar-expand-md navbar-light bg-white sidebar"
                    style="width: 16.5vw; min-width: 200px;">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                            aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse flex-column navbar-collapse" id="sidebarMenu">
                            @* add user image, name, and "your current rank is .."(in Arabic),  *@
                            <div class="text-center mt-3 mb-3">
                                <div class="position-relative d-inline-block">
                                    @if (UserImage != null)
                                    {
                                        <img src="data:image/png;base64,@Convert.ToBase64String(Convert.FromBase64String(UserImage))"
                                            alt="@Context.Session.GetString("UserName")"
                                            class="img-fluid rounded-circle border border-4 p-1 mb-2"
                                            style="width: 80px; height: 80px;" />
                                    }
                                    else
                                    {
                                        <img src="/Img/Avatar.jpg" alt="@Context.Session.GetString("UserName")"
                                            class="img-fluid rounded-circle border border-4 p-1 mb-2"
                                            style="width: 80px; height: 80px;" />
                                    }
                                    <a role="button"
                                        class="position-absolute bottom-0 text-black start-100 border border-2 rounded-pill cursor-pointer"
                                        asp-controller="Account" asp-action="Edit">
                                        <i class="bi bi-pencil px-1"></i>
                                    </a>
                                </div>
                                <h5 class="mb-0">@Context.Session.GetString("UserName")</h5>
                                <p class="text-muted mb-0">
                                    @* Display current rank in Arabic *@
                                    رتبتك الحالية <strong>@(@Context.Session.GetInt32("UserRank") ?? 0)</strong>
                                </p>
                            </div>
                            <ul class="navbar-nav p-0 flex-column w-100" dir="rtl">
                                @* make it only appear after login  fd*@

                                @* check the PageName to add border, *@
                                <li
                                    class="nav-item @(ViewData["PageName"]?.ToString() == "Account Details" ? "border border-2 rounded-4 border-purple bg-light-purple" : "")">
                                    <a class="nav-link" asp-controller="Account" asp-action="Details">
                                        <i class="bi bi-person"></i> <span
                                            class="d-sm-inline fw-bold @(ViewData["PageName"]?.ToString() == "Account Details" ? "text-black" : "")">صفحتي
                                            الخاصة</span>
                                    </a>
                                </li>
                                <li
                                    class="nav-item @(ViewData["PageName"]?.ToString() == "Leaderboard" ? "border border-2 rounded-4 border-purple bg-light-purple" : "")">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                                        <i class="bi bi-globe-asia-australia-fill"></i> <span
                                            class="d-sm-inline fw-bold @(ViewData["PageName"]?.ToString() == "Leaderboard" ? "text-black" : "")">قائمةالمتصدرين</span>
                                    </a>
                                </li>
                                <li
                                    class="nav-item @(ViewData["PageName"]?.ToString() == "Emails" ? "border border-2 rounded-4 border-purple bg-light-purple" : "")">
                                    <a class="nav-link" asp-controller="Email" asp-action="Index">
                                        <i class="bi bi-envelope"></i> <span
                                            class="d-sm-inline fw-bold @(ViewData["PageName"]?.ToString() == "Emails" ? "text-black" : "")">البريد</span>
                                    </a>
                                </li>
                                @* <li
                                    class="nav-item @(ViewData["PageName"]?.ToString() == "Nickname" ? "border border-2 rounded-4 border-purple bg-light-purple" : "")">
                                    <a class="nav-link" asp-controller="Nickname" asp-action="Index">
                                        <i class="bi bi-crosshair"></i> <span
                                            class="d-sm-inline fw-bold @(ViewData["PageName"]?.ToString() == "Nickname" ? "text-black" : "")">الاسم المستعار</span>
                                    </a>
                                </li> *@

                                <li
                                    class="nav-item @(ViewData["PageName"]?.ToString() == "Rewards" ? "border border-2 rounded-4 border-purple bg-light-purple" : "")">
                                    <a class="nav-link" asp-controller="Home" asp-action="Rewards">
                                        <i class="bi bi-gift"></i> <span
                                            class="d-sm-inline fw-bold @(ViewData["PageName"]?.ToString() == "Rewards" ? "text-black" : "")">المكافآت</span>
                                    </a>
                                </li>

                                <li
                                    class="nav-item @(ViewData["PageName"]?.ToString() == "Leaderboard By Category" ? "border border-2 rounded-4 border-purple bg-light-purple" : "")">
                                    <a class="nav-link" asp-controller="Home" asp-action="LeaderboardByCategory">
                                        <i class="bi bi-trophy"></i> <span
                                            class="d-sm-inline fw-bold @(ViewData["PageName"]?.ToString() == "Leaderboard By Category" ? "text-black" : "")">متصدري
                                            اللجان</span>
                                    </a>
                                </li>
                                <li class="nav-item mt-auto">
                                    <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                        <i class="bi bi-box-arrow-right text-danger"></i> <span
                                            class="d-sm-inline text-danger fw-bold">تسجيل الخروج</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        }
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>